

@import url("./catppuccin_frappe.css");

/* Common variables */
:vars {
    --module-bg: alpha(@base, 0.7);
    --bg: alpha(@crust, 0.7); /* This looks like shit without blur*/
    --shadow: mix(@crust, #000000, 0.5);
}

* {
    all: unset;
    color: var(--text);
    font-size: 14px;
    font-family: "Cousine Nerd Font", sans-serif;
    text-shadow: 8px 8px 12px var(--shadow);
}

#window {
    background-color: var(--bg);
    padding: 18px 8px;
    border-radius: 16px;
}

#outer-box {
    background-color: var(--module-bg);
    margin: -6px 4px;
    border-radius: 8px;
    padding: 8px;
}

#profile-pic {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
    min-width: 50px;
    border-radius: 4px;
    border: solid 1px @text;
    padding: 33px;
    margin: 12px 36px;
}

#greeter-label {
    font-size: 18px;
}

#button-icon label {
    background-size: 400% 400%;
    font-size: 33px;
    color: @overlay0;
    margin: 0 8px;
}
#button-icon:hover label {
    color: @red;
}

#clock-a label {
    font-size: 36px;
    margin-top: 12px;
    font-family: "Iosevka Nerd Font", bold;
}

#clock-b label {
    font-size: 24px;
    color: @subtext0;
    margin: 0 72px;
    font-family: "Iosevka Nerd Font", sans-serif;
}

#network-controls button {
    background-color: @overlay0;
    margin: 2px 12px;
}
#network-controls button label {
    color: @text;
    margin: 6px;
}
#network-controls button:hover label {
    color: @red;
}
#network-controls button {
    border-radius: 6px;
    background-color: var(--module-bg);
    border: solid 1px @surface1;
    min-width: 24px;
    margin: 14px 2px;
}
#network-controls button label {
    font-size: 20px;
    text-shadow: 0px 0px 4px @blue;
    color: @mantle;
    margin: 0 4px;
    margin-right: 8px;
}

#network-controls button:hover label {
    color: @red;
}

#label-green { color: @green; }
#label-red { color: @red; }
#label-blue { color: @blue; }
#label-yellow { color: @yellow; }
#label-a { color: @mauve; }
#label-b { color: @sapphire; }
#label-c { color: @rosewater; }
#label-d { color: @peach; }
#label-e { color: @maroon; }

#scale-a,
#scale-b {
    background-color: alpha(@surface0, 0.7);
    padding: 3px 0;
    border-radius: 100px;
    margin: 6px 12px;
}

#scale-b slider {
    background-color: mix(@peach, @crust, 0.1);
    box-shadow: 0 0 6px 1px @crust;
    border-radius: 100%;
    min-height: 18px;
    min-width: 18px;
}
#scale-a slider {
    background-color: mix(@red, @crust, 0.1);
    box-shadow: 0 0 6px 1px @crust;
    border-radius: 100%;
    min-height: 18px;
    min-width: 18px;
}


#scale-a label {
    color: @red;
    font-size: 18px;
    margin: 0 12px;
}
#scale-b label {
    color: @peach;
    font-size: 18px;
    margin: 0 12px;
}

#scale-a scale trough highlight {
    all: unset;
    background-color: @red;
    border-radius: 8px;
}

#scale-b scale trough highlight {
    all: unset;
    background-color: @peach;
    border-radius: 8px;
}

#scale-a scale trough,
#scale-b scale trough {
    all: unset;
    background-color: @surface0;
    border-radius: 8px;
    min-height: 6px;
    min-width: 198px;
    margin: 3px 6px;
}


#inner-box {
    box-shadow: 0 0 12px 1px var(--shadow);
    margin: 12px;
    padding: 0;
    border-radius: 8px;
}
#media-title {
    padding: 4px 4px;
    min-width: 196px;
    border-radius: 16px;
    margin-left: 12px;
}
#cava-box {
    margin: 36px 3px 0 3px;
}
#media-title label {
    color: @sapphire;
    margin: 0;
}
#media-controls  {
    margin: 0 8px;
    border-radius: 0px 12px 12px 0px;
}
#media-controls button:hover #icon {
    color: @red;
}

#separator {
    font-size: 48px;
    margin: 3px;
    color: alpha(@subtext1, 0.1);
}

#weather-temp {
    font-size: 18px;
    margin-top: 16px;
}

#weather-desc {
    color: @subtext0;
    margin: 0;
    min-width: 30px;
}


#hw-mon {
    min-height: 20px;
}
#hw-mon #battery,
#hw-mon #cpu,
#hw-mon #ram,
#hw-mon #temp {
    margin: 14px;
}

#hw-mon #battery #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @green;
}


#hw-mon #battery label {
    color: @green;
}


#hw-mon #cpu #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @sapphire;
}


#hw-mon #cpu label {
    color: @sapphire;
}


#hw-mon #ram #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @blue;
}


#hw-mon #ram label {
    color: @blue;
}


#hw-mon #temp #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @red;
}


#hw-mon #temp label {
    color: @red;
}


#fetch {
    min-width: 30px;
    margin: 12px;
}

#launchers {
    padding: 0 12px;
    padding-left: 32px;
}
#quote-display label {
    padding: 12px;
}


#bluetooth-window {
    background-color: var(--bg);
    border-radius: 12px;
    border: solid 1px @surface1;
}
#bluetooth-window button:hover label {
    color: @red;
}


#popup-window {
    background-color: var(--module-bg);
    border-radius: 12px;
    border: 1px solid @text;
    margin: 0 16px;
    padding: 0 16px;
}
#popup-window label {
    font-size: 18px;
    text-shadow: 8px 8px 26px #000000;
}
#popup-window button {
    background-color: @surface0;
    border-radius: 12px;
    padding: 0 12px;
    margin: 6px;
}
#popup-window button:hover label {
    color: @red;
}

calendar {
  border-radius: 6px;
  border: 1px solid @surface0;
  padding: 1px;
}
calendar.button {
    padding: 2px;
}
calendar.button:hover {
  transition: 200ms;
  border-radius: 12px;
  color: @red;
}
calendar:selected {
    background-color: @surface1;
    box-shadow: inset 0 -1px 0 0 @text;
}
#calendar-widget {
    box-shadow: 0 0 12px 1px var(--shadow);
    padding: 0;
    border-radius: 8px;
    margin: 6px 8px;
}



/* BAR CSS */ 
window#bar {
    border-radius: 20px;
}

#bar #bar-icon label {
    font-size: 20px;
}
#bar {
    all: unset;
    border: none;
    font-size: 14px;
    font-family: "Cousine Nerd Font";
    padding: 3px 6px 6px 0px;
    border-radius: 16px;
    background-color: alpha(@crust, 0.9);
    text-shadow: none;
}
#bar label {
    color: @text;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 20px;
}
#bar button {
    padding: 0 12px;
    background-color: transparent;
}
#bar button:hover label {
    color: @red;
}
#bar box {
    padding: 0;
    min-height: 34px;
    border-radius: 20px;
    background-color: transparent;
}
#bar #hyprland-window button:hover label {
    color: @text;
}
#bar #h {
    background-color: @red;
}



/* Workspaces */
#bar #workspaces {
    border-radius: 6px;
    background-color: @base;
    margin-top: 6px;
}

#workspaces button {
}

#workspaces button label {
    font-size: 20px;
}

#workspaces button:hover label {
    color: @red;
}

#workspaces button.urgent label {
    color: @mauve;
}

#workspaces button.active label {
    color: @red;
}

#workspaces>button.empty label {
    color: @surface0;
}

#bar #bar-clock .time-hour label {
    font-size: 20px;
    color: @subtext0;
}
#bar #bar-clock .time-separator label {
    font-size: 12px;
    margin: -2px 0px;
    color: @surface0;
}
#bar #bar-clock .time-min label {
    font-size: 20px;
    color: @subtext1;
}
#bar #bar-clock .cal-date label {
    font-size: 12px;
    color: @subtext1;
}
#bar #battery #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @green;
}
#bar #battery label {
    color: @green;
}

/* system tray */
#bar #system-tray {
    border-radius: 6px;
    background-color: @base;
    margin-top: 6px;
}
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: @surface0;
    background-color: var(--module-bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--module-bg);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover label {
    color: @red;
    background-color: var(--module-bg);
}

