
@import url("./catppuccin_macchiato.css");

/* Common variables */
:vars {
    --module-bg: alpha(@mantle, 0.6);
    --bg: alpha(@crust, 0.6); /* This looks like shit without blur*/
    --shadow: mix(@crust, #000000, 0.5);
}

* {
    all: unset;
    color: var(--text);
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    text-shadow: 8px 8px 10px var(--shadow);
}

#window {
    background-color: var(--bg);
    padding: 18px 8px;
    border-radius: 16px;
}

#outer-box {
    background-color: var(--module-bg);
    margin: -6px 4px;
    border-radius: 8px;
    border: solid 2px @surface1;
    padding: 8px;
}

#profile-pic {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
    border-radius: 4px;
    border: solid 2px @text;
    padding: 32px;
    margin: 10px 50px;
}

#greeter-label {
    font-size: 18px;
}

#button-icon label {
    background-size: 400% 400%;
    font-size: 32px;
    color: @overlay0;
    margin: 0 10px;
    
}
#button-icon:hover label {
    color: @red;
}

#clock-a label {
    font-size: 36px;
    margin-top: 10px;
    font-family: "Iosevka Nerd Font", bold;
}

#clock-b label {
    font-size: 24px;
    color: @subtext0;
    font-family: "Iosevka Nerd Font", sans-serif;
}


#label-green { color: @green; }
#label-red { color: @red; }
#label-blue { color: @blue; }
#label-yellow { color: @yellow; }
#label-a { color: @mauve; }
#label-b { color: @sapphire; }
#label-c { color: @rosewater; }
#label-d { color: @peach; }
#label-e { color: @maroon; }

#scale-a,
#scale-b {
    background-color: var(--module-bg);
    padding: 2px 0;
    border-radius: 100px;
    margin: 10px 10px;
}

#scale-b slider {
    background-color: mix(@peach, @crust, 0.1);
    box-shadow: 0 0 5px 1px @crust;
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
}
#scale-a slider {
    background-color: mix(@red, @crust, 0.1);
    box-shadow: 0 0 5px 1px @crust;
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
}


#scale-a label {
    color: @red;
    font-size: 18px;
    margin: 0 5px;
}
#scale-b label {
    color: @peach;
    font-size: 18px;
    margin: 0 5px;
}

#scale-a scale trough highlight {
    all: unset;
    background-color: @red;
    border-radius: 8px;
}

#scale-b scale trough highlight {
    all: unset;
    background-color: @peach;
    border-radius: 8px;
}

#scale-a scale trough,
#scale-b scale trough {
    all: unset;
    background-color: var(--module-bg);
    border-radius: 8px;
    min-height: 5px;
    min-width: 380px;
    margin: 0 10px;
}

#media {
    box-shadow: 0 0 10px 1px var(--shadow);
    margin: 10px 0;
    padding: 0;
    border-radius: 8px;
}
#media #media-title {
    padding: 4px 4px;
    min-height: 24px;
    border-radius: 16px;
}
#media #cava-box {
    margin: 80px 10px 0 10px;
}
#media label {
    color: @red;
    margin: 0;
}
#media #cava-label {
    color: @sapphire;
}
#media #media-controls  {
    margin: 8px;
    border-radius: 0px 10px 10px 0px;
}
#media #media-controls button:hover #icon {
    color: @red;
}

#circular-bar {
    margin: 20px;
}

#power-menu {
    margin-right: 10px;
}


#separator {
    font-size: 48px;
    margin: 2px;
    color: alpha(@subtext1, 0.1);
}

#weather-temp {
    font-size: 18px;
    margin-top: 15px;
}

#weather-desc {
    color: @subtext0;
    margin: 0;
    min-width: 30px;
}


#hw-mon {
    min-height: 20px;
}
#hw-mon #battery,
#hw-mon #cpu,
#hw-mon #ram,
#hw-mon #temp {
    margin: 12px;
}

#hw-mon #battery #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @green;
}


#hw-mon #battery label {
    color: @green;
}


#hw-mon #cpu #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @sapphire;
}


#hw-mon #cpu label {
    color: @sapphire;
}


#hw-mon #ram #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @blue;
}


#hw-mon #ram label {
    color: @blue;
}


#hw-mon #temp #circular-bar {
    background-color: @mantle;
    color: @crust;
    border-color: @red;
}


#hw-mon #temp label {
    color: @red;
}


#fetch {
    min-width: 30px;
    margin: 35px 20px;
}

#launchers #button-icon {
    margin: 0;
    padding: 10px 24px;

}

#quote-display label {
    padding: 10px;
}



#popup-window {
    background-color: var(--module-bg);
    border-radius: 10px;
    border: 2px solid @text;
    margin: 0 15px;
    padding: 0 15px;
}
#popup-window label {
    font-size: 18px;
    text-shadow: 8px 8px 25px #000000;
}
#popup-window button {
    background-color: @surface0;
    border-radius: 10px;
    padding: 0 10px;
}
#popup-window button:hover label {
    color: @red;
}




/* BAR CSS */ 
window#bar {
    border-radius: 20px;
}
#bar {
    all: unset;
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font";
    padding: 3px 5px 5px 0px;
    border-radius: 20px;
    background-color: alpha(@crust, 0.7);
    text-shadow: none;
}
#bar label {
    color: @text;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 20px;
}
#bar button {
    padding: 0 10px;
    background-color: transparent;
}
#bar button:hover label {
    color: @red;
}
#bar box {
    padding: 0;
    margin: 1px;
    min-height: 34px;
    border-radius: 20px;
    background-color: transparent;
}
#bar #hyprland-window button:hover label {
    color: @text;
}
#bar #h {
    background-color: @red;
}

